@import '@picocss/pico/scss/pico';

html {
    background-color: #e6e4e5;
}


html {
    scrollbar-width: none;
}

@supports selector(body:has(textarea:focus)) {
    html {
        scrollbar-width: initial;
    }
}

html,
body,
body>div:first-child {
    height: 100%;
}