
/*
$primary-500: #b22b00;
$primary-600: #ff3e00;
$primary-700: #ff7000;
*/

@import '@picocss/pico/scss/pico';

html {
    background-color: #e6e4e5;
}


html {
    scrollbar-width: none;
}

@supports selector(body:has(textarea:focus)) {
    html {
        scrollbar-width: initial;
    }
}